.userItemInfo{
  height: 100%;
  margin: auto 0;
  min-height: 420px;
}

.userItem{
  padding: 10px;
  overflow: hidden;
  display: flex;
  *{
    width: 100%;
    color: black;
    min-width: 10px;
  }
  p{
    margin: auto 0;
    text-overflow: ellipsis;
white-space: wrap;
overflow: hidden;
  }
}

.info{
  height: 1px;
  min-height: 420px;
}