.page{
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  @media(max-width: 450px){
    width: 100% !important;
}
}


.error{
  border-radius: 5px;
  border: 1px rgb(158, 0, 0) solid !important;
  * {
    color: rgb(158, 0, 0) !important
  }
  p{
  display: block !important;

}
}

.invalid{
  position: absolute;
  display: none;
  font-size: 11px;
}

.form{
  width: 70%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}